alias pyc='find ./ -name "*.pyc" -print'
alias rmpyc='find ./ -name "*.pyc" -delete'
alias v='vim'
alias nv='nvim'
alias update='source ~/update.sh >/dev/null 2>&1 && echo "Updated successfully!"'
alias gs='gulp serve --auth-env'
alias c='clear'
alias tslines='find ./ -path "*.ts" -type f | xargs wc -l'
alias pylines='find ./ -path "*.py" -type f | xargs wc -l'
alias phplines='find ./ -path "*.php" -type f | xargs wc -l'
