#!/bin/zsh

# TODO: Make 'update' alias available on path (move ~/update.sh to /usr/bin/update)
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias pyc='find ./ -name "*.pyc" -print'
alias rmpyc='find ./ -name "*.pyc" -delete'
alias v='vim'
alias nv='nvim'
alias update='source ~/.provision/_update.sh'
alias gs='gulp serve --auth-env'
alias tslines='find ./ -path "*.ts" -type f | xargs wc -l'
alias pylines='find ./ -path "*.py" -type f | xargs wc -l'
alias phplines='find ./ -path "*.php" -type f | xargs wc -l'
alias fatodos='grep -r "# TODO:" .'
alias fabad='grep -r "# XXX:" .'
